<header>
      <div class="headeralign">
        <% if(firstname != ""){%>
          <p id="usrPlaceholder" class="usenametxt">signed in as <%=firstname%></p>
        <%} else {%>
          <p id="usrPlaceholder" class="usenametxt">Not signed in</p>
          <%}%>
          <img class="headerlogo" src="../assets/images/header-icon.png" alt="Tropical Smoothie Cafe">
      </div>
</header>
