<aside>
<div class="sidebardiv">
    <ul class="sidebarul">
        <li class="sidelist"><a href="/index">Home</a></li>
        <li class="sidelist"><a href="/categories">Categories</a></li>
        <li class="sidelist"><a href="/about">About</a></li>
        <li class="sidelist"><a href="/contact">Contact Us</a></li>
    </ul>
</div>
</aside>
