<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="../assets/stylesheets/styles.css">
  <title>Tropical Smoothie Cafe</title>
</head>
<body>
  <% include partials/header.ejs %>
  <% include partials/user-navigation.ejs %>
  <% include partials/site-navigation.ejs %>
    <main>
        <h3 class="hpadding">About Tropical Smoothie Cafe</h3>
        <p class="ppadding">Tropical Smoothie Cafe, sometimes referred to as Tropical Smoothie, or TSC, is a restaurant franchise in the United States. In addition to smoothies, the cafes offer sandwiches, wraps, salads, flat breads, and introduced bowls to their food line in 2017.</p>
    </main>
  <% include partials/footer.ejs %>
</body>
</html>
