<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="../assets/stylesheets/styles.css">
  <title>Tropical Smoothie Cafe</title>
</head>
<body>
  <% include partials/header.ejs %>
  <% include partials/user-navigation.ejs %>
  <% include partials/site-navigation.ejs %>
    <main>
        <img class="contactUs" src="../assets/images/contactus.jpg" alt="Conact Us">
        <div>
        <h3>Contact Our Customer Experience Team</h3>
        <p class=contactDetails>
        1117 Perimeter Center <br>
        West Suite W200 <br>
        Atlanta, GA 30338 <br>
        (770) 821-1900
        <p>
        </div>
    </main>
  <% include partials/footer.ejs %>
</body>
</html>
